********************************************
Create a REST API for the Employee Directory
********************************************
 REST clients should be able to
	• Get a list of employees
	• Get a single employee by id
	• Add a new employee
	• Update an employee
	• Delete an employee