<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extra/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaders Home Page</title>
</head>

<body>
    <h2>Welcome Leaders</h2>
    <hr>

    <p>
        See You in Alkharj ... for our annual Leadership retreat!
        <br>
        Keep this trip a secret, Don't tell the regular employee :-).
    </p>


    <a th:href="@{/}">Back to Home Page</a>

</body>

</html>