<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Registration Form</title>

    <!-- Css File  -->
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
</head>
<body>
<h2>Student Confirmation</h2>


    <h1> Student Information </h1>
    <br>
    <p>Student name: <span th:text="${student.firstName} + ' ' + ${student.lastName}  + ' ' + ${student.country} " ></span></p>

</body>
</html>